.row-fluid{:style => "padding-bottom:10px"}
	.span{:style => "text-align:left;width:530px"}
		%p
			Los campos con (*) son obligatorios.
	.span{:style => "float:right;text-align: right;width:60px"}
		=link_to "Volver", {:action => "index", :controller => "inicio"}, {:class => "btn"}
		
=link_to "", {:action => "index", :controller => "inicio"}, :style => "display:none", :id => "url"

=form_tag({:controller => "inicio", :action => "procesar_agregar_asignatura"}, {:class => "form-horizontal",:id => "formulario_agregar_asignatura_docente"})do  
	 
	.control-group
		%label{:class => "control-label"}
			%strong Código (*):
		.controls
			= text_field :asignatura, :codigo, {:placeholder => "1234", :class => "input-large"}
			
	.control-group
		%label{:class => "control-label"}
			%strong Nombre (*):
		.controls
			= text_field :asignatura, :nombre, {:placeholder => "Nombre", :class => "input-large"}
		
	.control-group
		%label{:class => "control-label"}
			%strong Licenciaturas (*):
		.controls
			= hidden_field :carreras, :cantidad, {:value => @carreras.size}

			-carrera_anterior = ""
			%table
				-@carreras.each_with_index do |carrera,index|
					-if index%2 == 0
						-carrera_anterior = carrera
					-else
						%tr
							%td
								=check_box_tag 'check_box_carrera_'+(index).to_s, carrera_anterior, false, :class => "carreras", :style => "margin-top: -4px;"
								=carrera_anterior
							%td
								=check_box_tag 'check_box_carrera_'+(index+1).to_s, carrera, false, :class => "carreras", :style => "margin-top: -4px;"
								=carrera
						-carrera_anterior = ""
				-if carrera_anterior != ""
					%tr
						%td
							=check_box_tag 'check_box_carrera_'+(@carreras.size).to_s, carrera_anterior, false, :class => "carreras", :style => "margin-top: -4px;"
							=carrera_anterior
		
	.control-group
		%label{:class => "control-label"}
			%strong Créditos (*):
		.controls
			= text_field(:asignatura, :unidades_credito, {:placeholder => "3", :class => "input-large"})
	
	.control-group
		%label{:class => "control-label"}
			%strong Requisitos:
		.controls
			= text_area :asignatura, :requisitos, {:placeholder => "Asignatura I, Asignatura II, Asignatura III, ..."}

	.control-group
		%label{:class => "control-label"}
			%strong Tipo (*):
		.controls
			= select(:asignatura, :tipo, @tipos, {:prompt => "Seleccione"})

	#clasificacion{:style => "display:none"}
		.control-group
			%label{:class => "control-label"}
				#clasificacion_texto
			.controls
				#tipo_obligatoria{:style => "display:none"}
					= select(:asignatura, :clasificacion_obligatoria, @clasificaciones, {:prompt => "Seleccione"})
				#tipo_electiva{:style => "display:none"}
					=hidden_field :cantidad, :menciones, {:value => "1", :autocomplete => "off"}
					%p{:id => "p_mencion_1"}
						= select(:asignatura, :mencion_1, ["Otra"], {:prompt => "Seleccione"}, {:class => "asignatura_mencion", :onchange=>"asignatura_mencion_otra(this.id)"})
						= text_field(:asignatura, :mencion_otra_1, {:placeholder => "Mención", :style => "display:none;width: 200px;"})

						%a{:id => "agregar_mencion_a_asignatura_button", :class => "btn", :title => "Agregar mención"}
							%i{:class => "icon-plus"}

	
	
	.control-group
		.controls	
			= submit_tag "Guardar", :class=>"btn btn-primary", :id => "agregar_asignatura_submit"
			%span{:id => 'ajax-loader', :style => "display:none"}
				=image_tag "ajax-loader.gif"

%p
	%ul
		%strong Nota:
		%li El código debe ser de 4 dígitos numéricos.
		%li Los créditos son las unidades de crédito de la asignatura y estas deben ser numéricas.
		%li La asignatura se ubicará en el portal según la Licenciatura y la clasificación que se coloquen.
		%li Las asignaturas complementarias se ubicarán en la sección Complementaria del menú izquierdo.
